In [ ]:
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import joblib

In [ ]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics

import graphviz

import joblib

In [ ]:
df = pd.read_csv('../data/b2c_customers_100.csv')
df[:10]

,age,gender,employment_status,occupation,education,household_size,has_children,monthly_income_sgd,preferred_category
0,40,Female,Full-time,Sales,Diploma,1,0,8393.671183,Fashion - Women
1,28,Female,Full-time,Service,Bachelor,2,0,2221.219795,Beauty & Personal Care
2,32,Female,Full-time,Service,Diploma,1,0,3628.458357,Fashion - Women
3,35,Female,Full-time,Admin,Diploma,1,0,2191.616221,Beauty & Personal Care
4,54,Male,Full-time,Tech,Bachelor,2,0,16394.464195,Electronics
5,32,Male,Full-time,Sales,Diploma,1,0,8045.020407,Sports & Outdoors
6,35,Male,Full-time,Service,Bachelor,2,0,8437.360362,Fashion - Men
7,30,Female,Part-time,Service,Diploma,2,0,2587.660625,Beauty & Personal Care
8,20,Male,Student,Education,Secondary,2,0,766.440873,Books
9,49,Male,Full-time,Admin,Bachelor,5,1,5285.469754,Home & Kitchen

In [ ]:
# convert gender categorical variable to numerical variable with one-hot encoding
df = pd.get_dummies(df, columns=['gender', 'employment_status', 'occupation', 'education'])
df

,age,household_size,has_children,monthly_income_sgd,preferred_category,gender_Female,gender_Male,employment_status_Full-time,employment_status_Part-time,employment_status_Retired,...,occupation_Education,occupation_Sales,occupation_Service,occupation_Skilled Trades,occupation_Tech,education_Bachelor,education_Diploma,education_Doctorate,education_Master,education_Secondary
0,40,1,0,8393.671183,Fashion - Women,True,False,True,False,False,...,False,True,False,False,False,False,True,False,False,False
1,28,2,0,2221.219795,Beauty & Personal Care,True,False,True,False,False,...,False,False,True,False,False,True,False,False,False,False
2,32,1,0,3628.458357,Fashion - Women,True,False,True,False,False,...,False,False,True,False,False,False,True,False,False,False
3,35,1,0,2191.616221,Beauty & Personal Care,True,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
4,54,2,0,16394.464195,Electronics,False,True,True,False,False,...,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,21,2,0,648.536195,Books,True,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
96,19,4,0,921.911241,Books,True,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
97,34,1,0,2128.792525,Beauty & Personal Care,True,False,True,False,False,...,False,False,True,False,False,True,False,False,False,False
98,39,1,0,8497.530212,Fashion - Women,True,False,True,False,False,...,False,False,True,False,False,False,True,False,False,False
99,19,2,0,666.456959,Books,False,True,False,False,False,...,True,False,False,False,False,False,True,False,False,False

In [ ]:
X = df.drop('preferred_category', axis=1)
y = df['preferred_category']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, shuffle=True, stratify=y)

In [ ]:
clf = tree.DecisionTreeClassifier(criterion='gini', splitter='best', max_depth=5)

clf = clf.fit(X_train, y_train)
y_train_pred = clf.predict(X_train)

print('Training Accuracy = {}'.format(metrics.accuracy_score(y_train, y_train_pred)))

Training Accuracy = 0.9571428571428572

In [ ]:
print('Training Confusion = \n{}'.format(metrics.confusion_matrix(y_train, y_train_pred, labels=clf.classes_)))

Training Confusion =
[[9 0 0 0 0 0 0 0]
 [0 8 0 0 0 0 0 0]
 [0 0 9 0 0 0 0 0]
 [0 0 0 9 0 0 0 0]
 [1 0 0 0 8 0 0 0]
 [0 0 0 0 0 8 0 0]
 [0 0 0 0 0 0 9 0]
 [0 0 0 2 0 0 0 7]]

In [ ]:
y_test_pred = clf.predict(X_test)

print('Testing Accuracy = {}'.format(metrics.accuracy_score(y_test, y_test_pred)))

Testing Accuracy = 0.7

In [ ]:
print('Testing Confusion = \n{}'.format(metrics.confusion_matrix(y_test, y_test_pred, labels=clf.classes_)))

Testing Confusion =
[[3 0 0 0 0 0 0 0]
 [0 4 0 0 0 0 0 0]
 [0 0 4 0 0 0 0 0]
 [0 0 0 3 0 0 0 1]
 [1 0 0 0 3 0 0 0]
 [0 0 0 0 0 2 2 0]
 [0 0 0 0 0 2 2 0]
 [0 0 0 3 0 0 0 0]]

In [ ]:
# Generate the tree plot
# dot_data = tree.export_graphviz(clf, out_file=None,
#                                 feature_names=X.columns, class_names=clf.classes_,
#                                 filled=True, rounded=True, special_characters=True)
# graph = graphviz.Source(dot_data)
# graph

In [ ]:
# Save the model to a file using joblib
joblib.dump(clf, 'b2c_customers_100.joblib')

['b2c_customers_100.joblib']

In [ ]:
# Load the model from the file using joblib
loaded_model = joblib.load('b2c_customers_100.joblib')

In [ ]:
# Parameters of the loaded model
for param, value in loaded_model.get_params().items():
    print(f"{param}: {value}")

ccp_alpha: 0.0
class_weight: None
criterion: gini
max_depth: 5
max_features: None
max_leaf_nodes: None
min_impurity_decrease: 0.0
min_samples_leaf: 1
min_samples_split: 2
min_weight_fraction_leaf: 0.0
monotonic_cst: None
random_state: None
splitter: best

In [ ]:
# Print feature importances
print("Feature importances:", loaded_model.feature_importances_)

Feature importances: [0.07070659 0.15457617 0.         0.45478124 0.         0.16026827
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.15966773 0.
 0.         0.         0.         0.        ]

In [ ]:
# Example raw input data as a dictionary
raw_input = {
    'age': 29,
    'household_size': 2,
    'has_children': 1,
    'monthly_income_sgd': 5000,
    'gender': 'Female',
    'employment_status': 'Full-time',
    'occupation': 'Sales',
    'education': 'Bachelor'
}

# Convert raw input to DataFrame
input_df = pd.DataFrame([raw_input])

# One-hot encode categorical variables to match training data columns
input_encoded = pd.get_dummies(input_df, columns=['gender', 'employment_status', 'occupation', 'education'])

# Ensure all required columns are present, add missing columns as False/0
for col in X.columns:
    if col not in input_encoded.columns:
        # Use False for bool columns, 0 for numeric
        if X[col].dtype == bool:
            input_encoded[col] = False
        else:
            input_encoded[col] = 0

# Reorder columns to match training data
input_encoded = input_encoded[X.columns]

# Now input_encoded can be used for prediction
prediction = loaded_model.predict(input_encoded)
print('Prediction:', prediction)

Prediction: ['Beauty & Personal Care']

In [ ]:
# Example raw input data as a dictionary
raw_input = {
    'age': 50,
    'household_size': 2,
    'has_children': 1,
    'monthly_income_sgd': 18000,
    'gender': 'Male',
    'employment_status': 'Full-time',
    'occupation': 'Tech',
    'education': 'Bachelor'
}

# Convert raw input to DataFrame
input_df = pd.DataFrame([raw_input])

# One-hot encode categorical variables to match training data columns
input_encoded = pd.get_dummies(input_df, columns=['gender', 'employment_status', 'occupation', 'education'])

# Ensure all required columns are present, add missing columns as False/0
for col in X.columns:
    if col not in input_encoded.columns:
        # Use False for bool columns, 0 for numeric
        if X[col].dtype == bool:
            input_encoded[col] = False
        else:
            input_encoded[col] = 0

# Reorder columns to match training data
input_encoded = input_encoded[X.columns]

# Now input_encoded can be used for prediction
prediction = loaded_model.predict(input_encoded)
print('Prediction:', prediction)

Prediction: ['Electronics']

In [ ]:
pd.set_option('display.max_rows', 2000)

In [ ]:
df = pd.read_csv('../data/b2c_products_500_transactions_50k.csv')

df = df.astype(bool) # convert to boolean provides better performance when generating frequent itemsets
df[:10]

,GGB-FD0TVBDI,BC-KH1DNMMJ,HKHD-ZBIKCIDK,HS-FN9XUY41,F-T-R5XFF0T0,HKC-2PCN9T84,F-F-AZZ81SDW,PSD-753LC58D,BPF-5PHT0HL9,HKB-AZCCBLSK,...,HFA-1N2OJGFH,HPC-TGBIBF57,SOY&-L85JE6K9,ESH-8JWVHPLH,SOTS-GG5GR0XA,HKS&-S03VNA31,F-B-T34DF163,HKC-D5OAIINM,HKS&-8KCMM7DB,BPM-JRNJ6225
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
frequent_itemsets = apriori(df, min_support=0.22, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0     0.22680                                     (HKB-AZCCBLSK)
1     0.22386                                     (BC&-DPPQ0Y9D)
2     0.22536                                     (BPM-FKHMY4SJ)
3     0.22568                                     (ACC-N2ATQYYV)
4     0.22328                                     (BPF-2VMCQBNK)
...       ...                                                ...
8210  0.22052  (AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...
8211  0.22156  (HKHD-C68AU9DK, HKS&-S03VNA31, HKHD-7I8SKCH8, ...
8212  0.22052  (AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...
8213  0.22156  (HKHD-C68AU9DK, HKS&-S03VNA31, HKHD-7I8SKCH8, ...
8214  0.22052  (AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...

[8215 rows x 2 columns]

In [ ]:
# confidence should be > 0.3 to be useful
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.99)
# lift should be > 1.0 to be useful
# rules = association_rules(frequent_itemsets, metric="lift", min_threshold=4.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(AIA-JM4T8BP6),(ACC-N2ATQYYV),0.22280,0.22568,0.22064,0.990305,4.388095,0.170358,79.869674,0.993452
1,(AIA-JM4T8BP6),(ACC-N6Q7NC85),0.22280,0.22408,0.22058,0.990036,4.418225,0.170655,77.871611,0.995451
2,(AIA-JM4T8BP6),(AIA-BIK2U1RS),0.22280,0.22646,0.22064,0.990305,4.372981,0.170185,79.789219,0.992438
3,(AIA-JM4T8BP6),(AO&-G70S1F53),0.22280,0.22984,0.22058,0.990036,4.307500,0.169372,77.293535,0.987966
4,(AIA-JM4T8BP6),(ACC-PLO1URTT),0.22280,0.22980,0.22074,0.990754,4.311375,0.169541,83.301243,0.988234
...,...,...,...,...,...,...,...,...,...,...
997372,"(AEA-BMAE38SR, AO&-AZV46ESM)","(AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...",0.22058,0.22052,0.22052,0.999728,4.533503,0.171878,2865.628307,1.000000
997373,"(AEA-BMAE38SR, AIA-JM4T8BP6)","(AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...",0.22054,0.22052,0.22052,0.999909,4.534325,0.171887,8595.325960,1.000000
997374,"(ACC-PRAT0861, AO&-AZV46ESM)","(AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...",0.22060,0.22052,0.22052,0.999637,4.533092,0.171873,2149.416100,1.000000
997375,"(ACC-PRAT0861, AIA-JM4T8BP6)","(AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...",0.22054,0.22052,0.22052,0.999909,4.534325,0.171887,8595.325960,1.000000
997376,"(AO&-AZV46ESM, AIA-JM4T8BP6)","(AO&-G70S1F53, ACC-BYGHGK5B, ACC-2SZWYMX9, ACC...",0.22052,0.22052,0.22052,1.000000,4.534736,0.171891,inf,1.000000

In [ ]:
# persist the rules to a file in joblib format
joblib.dump(rules, 'b2c_products_500_transactions_50k.joblib')

['b2c_products_500_transactions_50k.joblib']

In [ ]:
# load the rules from the file in joblib format
loaded_rules = joblib.load('b2c_products_500_transactions_50k.joblib')
loaded_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(AIA-JM4T8BP6),(ACC-N2ATQYYV),0.22280,0.22568,0.22064,0.990305,4.388095,0.170358,79.869674,0.993452
1,(AIA-JM4T8BP6),(ACC-N6Q7NC85),0.22280,0.22408,0.22058,0.990036,4.418225,0.170655,77.871611,0.995451
2,(AIA-JM4T8BP6),(AIA-BIK2U1RS),0.22280,0.22646,0.22064,0.990305,4.372981,0.170185,79.789219,0.992438
3,(AIA-JM4T8BP6),(AO&-G70S1F53),0.22280,0.22984,0.22058,0.990036,4.307500,0.169372,77.293535,0.987966
4,(AIA-JM4T8BP6),(ACC-PLO1URTT),0.22280,0.22980,0.22074,0.990754,4.311375,0.169541,83.301243,0.988234
...,...,...,...,...,...,...,...,...,...,...
997372,"(AEA-BMAE38SR, AO&-AZV46ESM)","(AO&-G70S1F53, AIA-BIK2U1RS, ACC-PLO1URTT, ACC...",0.22058,0.22052,0.22052,0.999728,4.533503,0.171878,2865.628307,1.000000
997373,"(AEA-BMAE38SR, AIA-JM4T8BP6)","(AO&-G70S1F53, AIA-BIK2U1RS, ACC-PLO1URTT, ACC...",0.22054,0.22052,0.22052,0.999909,4.534325,0.171887,8595.325960,1.000000
997374,"(ACC-PRAT0861, AO&-AZV46ESM)","(AO&-G70S1F53, AIA-BIK2U1RS, ACC-PLO1URTT, ACC...",0.22060,0.22052,0.22052,0.999637,4.533092,0.171873,2149.416100,1.000000
997375,"(ACC-PRAT0861, AIA-JM4T8BP6)","(AO&-G70S1F53, AIA-BIK2U1RS, ACC-PLO1URTT, ACC...",0.22054,0.22052,0.22052,0.999909,4.534325,0.171887,8595.325960,1.000000
997376,"(AO&-AZV46ESM, AIA-JM4T8BP6)","(AO&-G70S1F53, AIA-BIK2U1RS, ACC-PLO1URTT, ACC...",0.22052,0.22052,0.22052,1.000000,4.534736,0.171891,inf,1.000000

In [ ]:
# use the loaded_rules to extract recommendations
def get_recommendations(loaded_rules, items, metric='confidence', top_n=5):
    recommendations = set()
    for item in items:
        # Find rules where the item is in the antecedents
        matched_rules = loaded_rules[loaded_rules['antecedents'].apply(lambda x: item in x)]
        # Sort by the specified metric and get the top N
        top_rules = matched_rules.sort_values(by=metric, ascending=False).head(top_n)
        for _, row in top_rules.iterrows():
            recommendations.update(row['consequents'])
    # Remove items that are already in the input list
    recommendations.difference_update(items)
    return list(recommendations)[:top_n]

In [ ]:
get_recommendations(loaded_rules, ['AIA-JM4T8BP6'], metric='lift', top_n=5)

['AO&-G70S1F53',
 'AIA-BIK2U1RS',
 'ACC-PLO1URTT',
 'ACC-BYGHGK5B',
 'ACC-2SZWYMX9']